// config
@import "../config/_variables.scss";
@import "../config/_reset.scss";

// components
@import "../components/header.scss";
@import "../components/sideMenu.scss";
@import "../components/home.scss";
@import "../components/upload.scss";
@import "../components/profile.scss";
@import "../components/editProfile.scss";
@import "../components/watch.scss";
@import "../components/signin.scss";
@import "../components/signup.scss";
@import "../components/search.scss";
@import "../components/editVideo.scss";
@import "../components/changePassword.scss";

// screens

// defaults
a {
  text-decoration: none;
  color: $font_color;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $bg_color;
  color: $font_color;
  .top {
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  .bottom_container {
    display: flex;
    width: 100vw;

    .sidebar {
      display: flex;
      width: 6.5vw;
      max-width: 73px;
      height: 100vh;
    }
    .main_page {
      display: flex;
      margin: 0;
      width: 100%;
    }
  }
}

@keyframes flashMessageOut {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: flashMessageOut 0.5s ease-in-out forwards;
  animation-delay: 2.5s;
  &.error {
    background-color: steelblue;
    color: white;
  }
  &.info {
    background-color: steelblue;
    color: white;
  }
}
