//config
@import "../config/_variables.scss";

//header
header {
  display: flex;
  flex-direction: row;
  background-color: #202020;
  padding: 10px;

  .logo_container {
    display: flex;
    flex: 0.3;

    .modal_showing {
      font-size: 20px;
      margin-left: 12px;
      margin-right: 15px;
      color: white;
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:active {
        opacity: 0.6;
      }
    }

    .header_logo {
      display: flex;
      align-items: center;
      color: $logo_color;
      font-size: 30px;
      padding-left: 8px;
      h3 {
        color: white;
        font-size: 18px;
        padding-left: 5px;
      }
    }
  }
  .search_container {
    display: flex;
    flex: 0.4;
    flex-direction: row;
    align-items: center;

    #search_bar {
      width: 38vw;
      height: 90%;
      padding: 0 8px;
      background-color: #121212;
      border: 1px solid #292929;
      color: #e2e2e2;
    }
    #search_bar:focus {
      outline: none;
    }

    #search_icon {
      background-color: #323232;
      padding: 8px 20px;
    }
    #search_mic {
      color: white;
      font-size: 18px;
      background-color: black;
      margin-left: 12px;
      padding: 8px 13px;
      border: none;
      border-radius: 999px;
      cursor: pointer;
    }
  }

  .nav_container {
    display: flex;
    flex: 0.3;
    flex-direction: row;
    align-items: center;
    justify-content: right;

    #signIn {
      font-size: 15px;
      color: #3da6ff;
      border: 1px solid #3da6ff;
      padding: 9px 18px;

      label {
        margin-left: 8px;
        cursor: pointer;
      }
    }
    #signIn:focus {
      opacity: 0.8;
    }

    a {
      padding: 0 8px;
    }
    .header_profileImage {
      width: 33px;
      height: 33px;
      border-radius: 999px;
    }
  }
}

.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: scroll;
  z-index: 9999;
}

.modal_menu {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100vh;
  background-color: #202020;

  .logo_box {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    height: 57px;

    .modal_hidden {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-left: 12px;
      margin-right: 15px;
      color: white;
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:active {
        opacity: 0.6;
      }
    }
    .header_logo {
      display: flex;
      color: $logo_color;
      font-size: 30px;
      padding-left: 8px;
      h3 {
        color: white;
        font-size: 18px;
        padding-left: 5px;
      }
    }
  }
  .icon_container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #373737;
    padding: 8px 0;

    .menu_box {
      display: flex;
      flex-direction: row;
      padding: 10px 21px;
      cursor: pointer;

      .icon_box {
        width: 30px;
        text-align: center;
        img {
          width: 15px;
          height: 15px;
          padding: 6px;
          border: none;
          border-radius: 999px;
          background-color: white;
        }
      }
      .label_box {
        display: flex;
        align-items: center;
      }
      a {
        font-size: 20px;
      }
      label {
        display: flex;
        align-items: center;
        padding-left: 22px;
        font-size: 14px;
        font-weight: 330;
        cursor: pointer;
      }
    }
    .menu_box:hover {
      background-color: #303030;
    }
  }
  #modal_message {
    padding: 10px 24px;
    font-size: 14px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 15px;
  }
}

.hidden {
  display: none;
}
