extends templates/base

block content
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(name="username" type="text" placeholder="User Name" required)
        input(name="name" type="text" placeholder="Name" required)
        input(name="email" type="email" placeholder="E-mail" required)
        input(name="password" type="password" placeholder="Password" required)
        input(name="pwConfirmation" type="password" placeholder="Password Confirmation" required)
        input(name="location" type="text" placeholder="User Location" required)
        button(type="submit") Sign Up
    hr
    div 
        span Alreay have an account?     
        a(href="/signin") Sign In &rarr;