extends templates/base

block content 
    form(method="post")
        //- input(name="file" type="file" accept="video/*")
        input(name="title" type="text" placeholder="Video Title" required) 
        textarea(name="description" type="text" placeholder="Description" required) 
        input(name="hashtags" type="text" placeholder="Hash Tags" required)
        button(type="submit") Upload 
    
    span enctype input needed