sideMenu 
    div.side_container
        a(href="/")#side_home
            i.fas.fa-home
            label(for="side_home") 홈
        a(href="/")#side_compass
            i.far.fa-compass
            label(for="side_compass") 탐색
        a(href="/")#side_history
            i.fas.fa-history
            label(for="side_compass") 시청 기록
        a(href="https://nomadcoders.co/javascript-for-beginners")#side_js
            i.fab.fa-js
            label(for="side_js") Javascript
        a(href="https://nomadcoders.co/wetube")#side_nodejs
            i.fab.fa-node-js
            label(for="side_nodejs") node.js
        a(href="https://www.npmjs.com/")#side_npm
            i.fab.fa-npm
            label(for="side_npm") npm
        a(href="https://nomadcoders.co/react-for-beginners/")#side_reactjs
            i.fab.fa-react
            label(for="side_npm") react.js