extends ../templates/base

block content
    div.password_change_section
        form(method="post").password_change_form
            input(name="oldPassword" placeholder="이전 비밀번호" type="password")
            input(name="newPassword" placeholder="새로운 비밀번호" type="password")
            input(
                name="newPasswordConfirmation" 
                placeholder="비밀번호 재입력" 
                type="password"
                )
            button(type="submit") 변경하기