extends ../templates/base
include ../mixins/profileVideo

block content
    div.sidebar
        include ../partials/sideMenu
    div.profile_container
        if String(user._id) === String(loggedInUser._id)
            div.user_info
                include editProfile
        div.user_videos
            div.upload_message
                h3 업로드한 동영상
            div.video_list
                each info in user.videos
                    +video(info)
                else
                    span 영상이 없네요!